
@model List<BookListViewModel>
<a asp-controller="Book" asp-action="Create" class="btn btn-success mt-5 mb-3"> Create Book</a>

@foreach( var book in Model)
{

    <div class="card mt-3" style="width: 35rem;">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Kitap İsimi: @book.Title</li>
            <li class="list-group-item">Kitap Türü: @book.Genre</li>
            <div>
                <a asp-controller="Book" asp-action="Details" asp-route-id="@book.Id" class="btn btn-secondary"> Detail</a>
                <a asp-controller="Book" asp-action="Delete" asp-route-id="@book.Id" class="btn btn-danger"> Delete</a>
                <a asp-controller="Book" asp-action="Edit" asp-route-id="@book.Id" class="btn btn-primary" >Edit</a>




            </div>
            
        </ul>
    </div>
}